<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home-layout_1</title>
    <link rel="stylesheet" href="css/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="css/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="css/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="css/assets/css/styles.css">
    <link rel="stylesheet" href="css/assets/css/Video-Parallax-Background.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="border-style: none;border-bottom: 1px solid #dcdcdc ;">
        <div class="container-fluid"><img src="css/assets/img/Logo.png" style="width: 50px;height: auto;margin: 10px 0px 0px 20px;margin-right: 10px;"><a class="navbar-brand" href="/">Helping Hand</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse d-flex flex-grow-1 justify-content-end" id="navcol-1">
                <ul class="nav navbar-nav d-flex flex-grow-1 justify-content-end mr-auto">
                    <li class="nav-item"><a class="nav-link" role="presentation" href="/inbox" style="color: #37434d;"><i class="fa fa-inbox"></i>&nbsp;Inbox</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown show d-xl-flex"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true" href="#" style="background-color: #84a9ac;color: rgb(255,255,255);border-radius: 28px;"><i class="fa fa-user-circle-o" style="margin-right: 5px;"></i>{{username}}</a>
                        <div
                            class="dropdown-menu dropdown-menu-right show"><a class="dropdown-item" role="presentation" href="/profile" style="font-size: 15px;"><i class="fa fa-user" style="margin-right: 10px;"></i>Profile</a><a class="dropdown-item" role="presentation" href="/aboutus" style="font-size: 15px;"><i class="fa fa-info-circle" style="margin-right: 10px;"></i>About us</a>
                            <a
                                class="dropdown-item" role="presentation" href="#myModal-2" style="font-size: 15px;" data-toggle="modal"><i class="fa fa-gear" style="margin-right: 10px;"></i>Setup</a><a class="dropdown-item" role="presentation" href="/signout" style="font-size: 15px;"><i class="fa fa-sign-out" style="margin-right: 10px;"></i>Log out</a></div>
        </li>
        </ul>
        </div>
        </div>
    </nav>
    <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-center align-items-xl-center" style="background: #84a9ac;">
        <div class="container" style="padding-right: 0px;padding-left: 0px;margin-right: 0px;margin-left: 0px;width: 1140px;">
            <div class="row row-cols-2" style="margin: 0px;width: 1140px;">
                <div class="col-9 col-md-6" style="padding-right: 0px32px;padding-left: 100px;padding-top: 64px;padding-bottom: 64px;">
                    <h1>About Us</h1>
                    <p style="box-shadow: 0px 0px;opacity: 1;filter: brightness(56%) contrast(80%);text-shadow: 0px 0px;text-align: justify;">Helping Hand works hand in hand with the aspiring businesses serving during this quarantine season. Across the Philippines, Helping Hand seeks towards strengthening the country's economy by supporting local businesses. Here, you can
                        come across numerous of local businesses of different varieties, from food, to clothing, or even medicine. Our goal is to help the people who are trying to make ends meet to provide for themselves or their families during this
                        tough time. Feel free to browse each business along with their products!<br><br></p>
                    <p></p>
                </div>
                <div class="col-auto col-md-6 float-right d-xl-flex justify-content-xl-start align-items-xl-center" style="padding: 0px;padding-right: 0px;"><img class="img-fluid d-xl-flex justify-content-xl-end align-items-xl-end" src="css/assets/img/laptop.png" style="width: 600px;"></div>
            </div>
        </div>
    </div>
    <div class="d-xl-flex justify-content-xl-center" style="background: #fafafa;max-width: 100%;"></div>
    <div class="modal fade" role="dialog" tabindex="-1" id="myModal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Setup Business</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body" style="width: auto;height: auto;">
                    <div class="row" style="width: auto;height: auto;margin: 0px;margin-top: 5px;margin-bottom: 5px;">
                        <div class="col-4 d-xl-flex align-items-xl-center">
                            <div><span>Business Name:</span></div>
                        </div>
                        <div class="col-8">
                            <div><input type="text" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="row" style="width: auto;height: auto;margin: 0px;margin-top: 5px;margin-bottom: 5px;">
                        <div class="col-4 d-xl-flex align-items-xl-center">
                            <div><span>Description:</span></div>
                        </div>
                        <div class="col-8">
                            <div></div><textarea style="width: 100%;"></textarea></div>
                    </div>
                    <div class="row" style="width: auto;height: auto;margin: 0px;margin-top: 5px;margin-bottom: 5px;">
                        <div class="col-4 d-xl-flex align-items-xl-center">
                            <div><span>Logo:</span></div>
                        </div>
                        <div class="col-8">
                            <div></div><input type="file"></div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="button" style="background-color: #84a9ac;">Save</button></div>
            </div>
        </div>
    </div>
    <div class="footer-clean" style="padding: 0px;">
        <footer style="padding-top: 15px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 float-none d-xl-flex justify-content-xl-center item social"><a href="#" style="margin-top: 30px;"><i class="icon ion-social-facebook"></i></a><a href="#" style="margin-top: 30px;"><i class="icon ion-social-twitter"></i></a><a href="#" style="margin-top: 30px;"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 float-none d-xl-flex justify-content-xl-center align-items-xl-start item social" style="width: 500px;padding: 0px;">
                        <p class="text-center d-xl-flex justify-content-xl-center copyright" style="width: 500px;margin-top: 0px;"><br>All Rights Reserved | Helping Hand © 2020</p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade" role="dialog" tabindex="-1" id="myModal-2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Setup Business</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body" style="width: auto;height: auto;">
                    <div class="row" style="width: auto;height: auto;margin: 0px;margin-top: 5px;margin-bottom: 5px;">
                        <div class="col-4 d-xl-flex align-items-xl-center">
                            <div><span>Business Name:</span></div>
                        </div>
                        <div class="col-8">
                            <div><input type="text" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="row" style="width: auto;height: auto;margin: 0px;margin-top: 5px;margin-bottom: 5px;">
                        <div class="col-4 d-xl-flex align-items-xl-center">
                            <div><span>Description:</span></div>
                        </div>
                        <div class="col-8">
                            <div></div><textarea style="width: 100%;"></textarea></div>
                    </div>
                    <div class="row" style="width: auto;height: auto;margin: 0px;margin-top: 5px;margin-bottom: 5px;">
                        <div class="col-4 d-xl-flex align-items-xl-center">
                            <div><span>Logo:</span></div>
                        </div>
                        <div class="col-8">
                            <div></div><input type="file"></div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="button" style="background-color: #84a9ac;">Save</button></div>
            </div>
        </div>
    </div>
    </div>
    <script src="css/assets/js/jquery.min.js"></script>
    <script src="css/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="css/assets/js/Video-Parallax-Background.js"></script>
</body>

</html>