<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>message-layout</title>
    <link rel="stylesheet" href="css/assets-message/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="css/assets-message/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="css/assets-message/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="css/assets-message/css/styles.css">
</head>

<body style="border-top-color: #fafafa;background: #fafafa;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="border-style: none;border-bottom: 1px solid #dcdcdc ;">
        <div class="container-fluid"><img src="css/assets/img/Logo.png" style="width: 50px;height: auto;margin: 10px 0px 0px 20px;margin-right: 10px;"><a class="navbar-brand" href="/">Helping Hand</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse d-flex flex-grow-1 justify-content-end" id="navcol-1">
                <ul class="nav navbar-nav d-flex flex-grow-1 justify-content-end mr-auto">
                    <li class="nav-item"><a class="nav-link" role="presentation" href="/inbox" style="color: #37434d;"><i class="fa fa-inbox"></i>&nbsp;Inbox</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown show d-xl-flex"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true" href="#" style="background-color: #84a9ac;color: rgb(255,255,255);border-radius: 28px;"><i class="fa fa-user-circle-o" style="margin-right: 5px;"></i>{{username}}</a>
                        <div
                            class="dropdown-menu dropdown-menu-right "><a class="dropdown-item" role="presentation" href="/profile" style="font-size: 15px;"><i class="fa fa-user" style="margin-right: 10px;"></i>Profile</a><a class="dropdown-item" role="presentation" href="/aboutus" style="font-size: 15px;"><i class="fa fa-info-circle" style="margin-right: 10px;"></i>About us</a>
                            <a
                                class="dropdown-item" role="presentation" href="#myModal-2" style="font-size: 15px;" data-toggle="modal"><i class="fa fa-gear" style="margin-right: 10px;"></i>Setup</a><a class="dropdown-item" role="presentation" href="/signout" style="font-size: 15px;"><i class="fa fa-sign-out" style="margin-right: 10px;"></i>Log out</a></div>
        </li>
        </ul>
        </div>
        </div>
    </nav>
    <div class="d-xl-flex justify-content-xl-center" style="background: #fafafa;max-width: 100%;">
        <div class="row" style="margin: 0px;width: 1186px;">
            <div class="col-md-2" style="background-color: #fafafa;"></div>
            <div class="col-md-8 d-xl-flex flex-column justify-content-xl-start align-items-xl-center" style="border-right: 1px none #dcdcdc;border-left: 1px none #dcdcdc;max-width: 100%;background: #fff;max-height: auto;height: 557px;">
                <div class="container">
                    <h1 style="font-size: 35px;">Message</h1>
                    <div class="row inbox-container" style="height: auto;margin-top: 5px;margin-bottom: 5px;border-top: 1.1px solid #dedede;padding-right: 15px;">
                        <div class="col-12 flex-row" style="width: 100px;max-width: auto;padding: 0px;padding-left: 15px;">
                            <h5 style="width: 200px;margin-right: 0px;">Lorem Ipsum</h5>
                            <p class="text-justify" style="color: rgb(129,129,129);max-width: 100%;max-height: 100%;margin: 0px;padding: 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis magna a risus rhoncus, non faucibus purus interdum. Nulla ex mi, ultricies et justo sit amet, tristique porta elit. Etiam tortor leo, blandit at ex sed,
                                accumsan lacinia eros. In ut tristique turpis. Suspendisse potenti. Aliquam eget porttitor tortor. Nullam urna dolor, commodo quis molestie sed, commodo at ligula. Mauris pharetra tristique justo quis dictum. Integer at
                                nulla mi. Suspendisse vitae aliquam leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas pretium ipsum a pellentesque maximus. Nam commodo sollicitudin blandit. Duis mauris erat, consectetur sit amet
                                suscipit vel, tempus porta tellus.<br></p>
                            <div class="d-xl-flex flex-column justify-content-xl-end" style="border-radius: 3px;padding: 10px;border: 1.1px solid #dedede;margin-top: 50px;"><input class="border rounded d-xl-flex justify-content-xl-start align-items-xl-start" type="text" style="width: 100%;height: 150px;margin-top: 0px;border-width: 1px;border-style: solid;"><button class="btn btn-primary" type="button"
                                    style="background: #84a9ac;margin-top: 5px;">Send<i class="fa fa-angle-right" style="padding-left: 5px;"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="background-color: #fafafa;"></div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="myModal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Setup Business</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body" style="width: auto;height: auto;">
                    <div class="row" style="width: auto;height: auto;margin: 0px;margin-top: 5px;margin-bottom: 5px;">
                        <div class="col-4 d-xl-flex align-items-xl-center">
                            <div><span>Business Name:</span></div>
                        </div>
                        <div class="col-8">
                            <div><input type="text" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="row" style="width: auto;height: auto;margin: 0px;margin-top: 5px;margin-bottom: 5px;">
                        <div class="col-4 d-xl-flex align-items-xl-center">
                            <div><span>Description:</span></div>
                        </div>
                        <div class="col-8">
                            <div></div><textarea style="width: 100%;"></textarea></div>
                    </div>
                    <div class="row" style="width: auto;height: auto;margin: 0px;margin-top: 5px;margin-bottom: 5px;">
                        <div class="col-4 d-xl-flex align-items-xl-center">
                            <div><span>Logo:</span></div>
                        </div>
                        <div class="col-8">
                            <div></div><input type="file"></div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="button" style="background-color: #84a9ac;">Save</button></div>
            </div>
        </div>
    </div>
    <script src="css/assets-message/js/jquery.min.js"></script>
    <script src="css/assets-message/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>